connector:
    name: oro_importexport
    jobs:
        mailchimp_campaign_import:
            title: orocrm.mailchimp.connector.campaign.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.campaign
                        processor: orocrm_mailchimp.importexport.processor.campaign
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                remove:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.processed_entities
                        processor: orocrm_mailchimp.importexport.processor.campaign.remove
                        writer:    orocrm_mailchimp.importexport.writer.campaign.remove

        mailchimp_template_import:
            title: orocrm.mailchimp.connector.template.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.template
                        processor: orocrm_mailchimp.importexport.processor.template
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                remove:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.processed_entities
                        processor: orocrm_mailchimp.importexport.processor.template.remove
                        writer:    orocrm_mailchimp.importexport.writer.template.remove

        mailchimp_list_import:
            title: orocrm.mailchimp.connector.list.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.list
                        processor: orocrm_mailchimp.importexport.processor.list
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                remove:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.processed_entities
                        processor: orocrm_mailchimp.importexport.processor.list.remove
                        writer:    orocrm_mailchimp.importexport.writer.list.remove

        mailchimp_member_import:
            title: orocrm.mailchimp.connector.member.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member
                        processor: orocrm_mailchimp.importexport.processor.member
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_activity_import_send:
            title: orocrm.mailchimp.connector.member_activity_send.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member_activity_send
                        processor: orocrm_mailchimp.importexport.processor.member_activity_send
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_activity_import_abuse:
            title: orocrm.mailchimp.connector.member_activity_abuse.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member_activity_abuse
                        processor: orocrm_mailchimp.importexport.processor.member_activity_abuse
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_activity_import_unsubscribe:
            title: orocrm.mailchimp.connector.member_activity_unsubscribe.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member_activity_unsubscribe
                        processor: orocrm_mailchimp.importexport.processor.member_activity_unsubscribe
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_activity_import:
            title: orocrm.mailchimp.connector.member_activity.job
            type: import
            steps:
                import_activities:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member_activity
                        processor: orocrm_mailchimp.importexport.processor.member_activity
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_static_segment_import:
            title: orocrm.mailchimp.connector.static_segment.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.static_segment
                        processor: orocrm_mailchimp.importexport.processor.static_segment
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_export:
            title: orocrm.mailchimp.job.member.export.label
            type:  export
            steps:
                process_data:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.members_sync
                        processor: orocrm_mailchimp.importexport.processor.members_sync
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 1000
                export:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.member_export
                        processor: orocrm_mailchimp.importexport.processor.export_member
                        writer:    orocrm_mailchimp.importexport.writer.member
                    parameters:
                        batch_size: 2000

        mailchimp_static_segment_export:
            title: orocrm.mailchimp.job.member.static_segment
            type:  export
            steps:
                fill_marketing_list_emails:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.marketing_list_email
                        processor: orocrm_mailchimp.importexport.processor.dummy
                        writer:    orocrm_mailchimp.importexport.writer.marketing_list_email
                    parameters:
                        batch_size: 1
                handle_add_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.static_segment_member_add_state
                        processor: orocrm_mailchimp.importexport.processor.dummy
                        writer:    orocrm_mailchimp.importexport.writer.static_segment_member_add
                    parameters:
                        batch_size: 1
                prepare_members_to_remove:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.static_segment_member_remove_state
                        processor: orocrm_mailchimp.importexport.processor.dummy
                        writer:    orocrm_mailchimp.importexport.writer.prepare_static_segment_member_to_remove
                    parameters:
                        batch_size: 1
                handle_remove_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.static_segment_member_to_remove
                        processor: orocrm_mailchimp.importexport.processor.dummy
                        writer:    orocrm_mailchimp.importexport.writer.static_segment_member_remove
                    parameters:
                        batch_size: 1
                export:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.static_segment_export
                        processor: orocrm_mailchimp.importexport.processor.dummy
                        writer:    orocrm_mailchimp.importexport.writer.static_segment
                    parameters:
                        batch_size: 2000
