connector:
    name: oro_importexport
    jobs:
        mailchimp_campaign_import:
            title: oro.mailchimp.connector.campaign.job
            type: import
            steps:
                import_campaign:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.connector.campaign
                        processor: oro_mailchimp.importexport.processor.campaign
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                remove:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.processed_entities
                        processor: oro_mailchimp.importexport.processor.campaign.remove
                        writer:    oro_mailchimp.importexport.writer.campaign.remove

        mailchimp_template_import:
            title: oro.mailchimp.connector.template.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.connector.template
                        processor: oro_mailchimp.importexport.processor.template
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                remove:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.processed_entities
                        processor: oro_mailchimp.importexport.processor.template.remove
                        writer:    oro_mailchimp.importexport.writer.template.remove

        mailchimp_list_import:
            title: oro.mailchimp.connector.list.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.connector.list
                        processor: oro_mailchimp.importexport.processor.list
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                remove:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.processed_entities
                        processor: oro_mailchimp.importexport.processor.list.remove
                        writer:    oro_mailchimp.importexport.writer.list.remove

        mailchimp_member_import:
            title: oro.mailchimp.connector.member.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.connector.member
                        processor: oro_mailchimp.importexport.processor.member
                        writer:    oro_mailchimp.importexport.writer.loggable_persistent_batch_writer
                    parameters:
                        batch_size: 2000

        mailchimp_member_activity_import_send:
            title: oro.mailchimp.connector.member_activity_send.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.connector.member_activity_send
                        processor: oro_mailchimp.importexport.processor.member_activity_send
                        writer:    oro_mailchimp.importexport.writer.loggable_persistent_batch_writer
                    parameters:
                        batch_size: 100

        mailchimp_member_activity_import_abuse:
            title: oro.mailchimp.connector.member_activity_abuse.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.connector.member_activity_abuse
                        processor: oro_mailchimp.importexport.processor.member_activity_abuse
                        writer:    oro_mailchimp.importexport.writer.loggable_persistent_batch_writer
                    parameters:
                        batch_size: 100

        mailchimp_member_activity_import_unsubscribe:
            title: oro.mailchimp.connector.member_activity_unsubscribe.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.connector.member_activity_unsubscribe
                        processor: oro_mailchimp.importexport.processor.member_activity_unsubscribe
                        writer:    oro_mailchimp.importexport.writer.loggable_persistent_batch_writer
                    parameters:
                        batch_size: 100

        mailchimp_member_activity_import:
            title: oro.mailchimp.connector.member_activity.job
            type: import
            steps:
                import_activities:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.connector.member_activity
                        processor: oro_mailchimp.importexport.processor.member_activity
                        writer:    oro_mailchimp.importexport.writer.loggable_persistent_batch_writer
                    parameters:
                        batch_size: 2000

        mailchimp_static_segment_import:
            title: oro.mailchimp.connector.static_segment.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.connector.static_segment
                        processor: oro_mailchimp.importexport.processor.static_segment
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_export:
            title: oro.mailchimp.job.member.export.label
            type: export
            steps:
                add_extended_merge_vars:
                    title: export
                    class: Oro\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: oro_mailchimp.importexport.reader.extended_merge_var_add
                        processor: oro_mailchimp.importexport.processor.extended_merge_var
                        writer: oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 10
                remove_extended_merge_vars:
                    title: export
                    class: Oro\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: oro_mailchimp.importexport.reader.extended_merge_var_remove
                        processor: oro_mailchimp.importexport.processor.extended_merge_var
                        writer: oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 10
                export_extended_merge_vars:
                    title: export
                    class: Oro\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: oro_mailchimp.importexport.reader.extended_merge_var_export
                        processor: oro_mailchimp.importexport.processor.export_extended_merge_var
                        writer: oro_mailchimp.importexport.writer.extended_merge_var
                    parameters:
                        batch_size: 10
                process_data:
                    title: export
                    class: Oro\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.members_sync
                        processor: oro_mailchimp.importexport.processor.dummy
                        writer:    oro_mailchimp.importexport.writer.members_sync
                    parameters:
                        batch_size: 1
                export:
                    title: export
                    class: Oro\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.member_export
                        processor: oro_mailchimp.importexport.processor.export_member
                        writer:    oro_mailchimp.importexport.writer.member
                    parameters:
                        batch_size: 1000
                        add_to_job_summary: true
                mmbr_extd_merge_var_add: # This is additional data for member merge vars. This and next step are "turned off if there are no data providers for them
                    title: export
                    class: Oro\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: oro_mailchimp.importexport.reader.member_extended_merge_var_add
                        processor: oro_mailchimp.importexport.processor.member_extended_merge_var
                        writer: oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 10
                mmbr_extd_merge_var_export: # Avoid double export and double iteration, merge logic to 1 export
                    title: export
                    class: Oro\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: oro_mailchimp.importexport.reader.mmbr_extd_merge_var_export
                        processor: oro_mailchimp.importexport.processor.export_member_extended_merge_var
                        writer: oro_mailchimp.importexport.writer.mmbr_extd_merge_var
                    parameters:
                        batch_size: 10

        mailchimp_static_segment_export:
            title: oro.mailchimp.job.member.static_segment
            type: export
            steps:
                # Write all marketing list email with state to temporary table
                fill_marketing_list_emails:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.marketing_list_email
                        processor: oro_mailchimp.importexport.processor.dummy
                        writer:    oro_mailchimp.importexport.writer.marketing_list_email
                    parameters:
                        batch_size: 1
                # Extend static segment members with "add" state based on marketing list email table
                # Before run removes all static segment members that are not in synced state
                handle_add_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.static_segment_member_add_state
                        processor: oro_mailchimp.importexport.processor.dummy
                        writer:    oro_mailchimp.importexport.writer.static_segment_member_add
                    parameters:
                        batch_size: 1
                # Fill temporary table StaticSegmentMemberToRemove with all members that are in one of remove states
                # or not in list anymore
                prepare_members_to_remove:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.static_segment_member_remove_state
                        processor: oro_mailchimp.importexport.processor.dummy
                        writer:    oro_mailchimp.importexport.writer.prepare_static_segment_member_to_remove
                    parameters:
                        batch_size: 1
                # Update static segment member state based on calcualted StaticSegmentMemberToRemove for remove
                handle_out_of_list_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.static_segment_member_out_of_list
                        processor: oro_mailchimp.importexport.processor.dummy
                        writer:    oro_mailchimp.importexport.writer.static_segment_member_state
                    parameters:
                        batch_size: 1
                # Update static segment member state based on calcualted StaticSegmentMemberToRemove for unsubscribe
                handle_unsubscribe_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.static_segment_member_unsubscribe_state
                        processor: oro_mailchimp.importexport.processor.dummy
                        writer:    oro_mailchimp.importexport.writer.static_segment_member_state
                    parameters:
                        batch_size: 1
                # Update static segment member state based on calcualted StaticSegmentMemberToRemove for unsubscribe_delete
                handle_delete_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.static_segment_member_unsubscribe_delete_state
                        processor: oro_mailchimp.importexport.processor.dummy
                        writer:    oro_mailchimp.importexport.writer.static_segment_member_state
                    parameters:
                        batch_size: 1
                # Perform export of static segment members to MailChimp with API
                export:
                    title: export
                    class: Oro\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader:    oro_mailchimp.importexport.reader.static_segment_export
                        processor: oro_mailchimp.importexport.processor.dummy
                        writer:    oro_mailchimp.importexport.writer.static_segment
                    parameters:
                        batch_size: 1000
                        add_to_job_summary: true
