connector:
    name: oro_importexport
    jobs:
        mailchimp_campaign_import:
            title: orocrm.mailchimp.connector.campaign.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.campaign
                        processor: orocrm_mailchimp.importexport.processor.campaign
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                remove:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.processed_entities
                        processor: orocrm_mailchimp.importexport.processor.campaign.remove
                        writer:    orocrm_mailchimp.importexport.writer.campaign.remove

        mailchimp_template_import:
            title: orocrm.mailchimp.connector.template.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.template
                        processor: orocrm_mailchimp.importexport.processor.template
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                remove:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.processed_entities
                        processor: orocrm_mailchimp.importexport.processor.template.remove
                        writer:    orocrm_mailchimp.importexport.writer.template.remove

        mailchimp_list_import:
            title: orocrm.mailchimp.connector.list.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.list
                        processor: orocrm_mailchimp.importexport.processor.list
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                remove:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.processed_entities
                        processor: orocrm_mailchimp.importexport.processor.list.remove
                        writer:    orocrm_mailchimp.importexport.writer.list.remove

        mailchimp_member_import:
            title: orocrm.mailchimp.connector.member.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member
                        processor: orocrm_mailchimp.importexport.processor.member
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_activity_import_send:
            title: orocrm.mailchimp.connector.member_activity_send.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member_activity_send
                        processor: orocrm_mailchimp.importexport.processor.member_activity_send
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_activity_import_abuse:
            title: orocrm.mailchimp.connector.member_activity_abuse.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member_activity_abuse
                        processor: orocrm_mailchimp.importexport.processor.member_activity_abuse
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_activity_import_unsubscribe:
            title: orocrm.mailchimp.connector.member_activity_unsubscribe.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member_activity_unsubscribe
                        processor: orocrm_mailchimp.importexport.processor.member_activity_unsubscribe
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_activity_import:
            title: orocrm.mailchimp.connector.member_activity.job
            type: import
            steps:
                import_activities:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.member_activity
                        processor: orocrm_mailchimp.importexport.processor.member_activity
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_static_segment_import:
            title: orocrm.mailchimp.connector.static_segment.job
            type: import
            steps:
                import:
                    title: import
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.connector.static_segment
                        processor: orocrm_mailchimp.importexport.processor.static_segment
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25

        mailchimp_member_export:
            title: orocrm.mailchimp.job.member.export.label
            type:  export
            steps:
                add_extended_merge_vars:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: orocrm_mailchimp.importexport.reader.extended_merge_var_add
                        processor: orocrm_mailchimp.importexport.processor.extended_merge_var
                        writer: oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 10
                remove_extended_merge_vars:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: orocrm_mailchimp.importexport.reader.extended_merge_var_remove
                        processor: orocrm_mailchimp.importexport.processor.extended_merge_var
                        writer: oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 10
                export_extended_merge_vars:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: orocrm_mailchimp.importexport.reader.extended_merge_var_export
                        processor: orocrm_mailchimp.importexport.processor.export_extended_merge_var
                        writer: orocrm_mailchimp.importexport.writer.extended_merge_var
                    parameters:
                        batch_size: 10
                process_data:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.members_sync
                        processor: orocrm_mailchimp.importexport.processor.members_sync
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 1000
                export:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.member_export
                        processor: orocrm_mailchimp.importexport.processor.export_member
                        writer:    orocrm_mailchimp.importexport.writer.member
                    parameters:
                        batch_size: 2000
                mmbr_extd_merge_var_add:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: orocrm_mailchimp.importexport.reader.member_extended_merge_var_add
                        processor: orocrm_mailchimp.importexport.processor.member_extended_merge_var
                        writer: oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 10
                mmbr_extd_merge_var_export:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader: orocrm_mailchimp.importexport.reader.mmbr_extd_merge_var_export
                        processor: orocrm_mailchimp.importexport.processor.export_member_extended_merge_var
                        writer: orocrm_mailchimp.importexport.writer.mmbr_extd_merge_var
                    parameters:
                        batch_size: 10

        mailchimp_static_segment_export:
            title: orocrm.mailchimp.job.member.static_segment
            type:  export
            steps:
                handle_add_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.static_segment_member_add_state
                        processor: orocrm_mailchimp.importexport.processor.static_segment_member_add_state
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                handle_remove_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.static_segment_member_remove_state
                        processor: orocrm_mailchimp.importexport.processor.static_segment_member_remove_state
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                handle_unsubscribe_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.static_segment_member_unsubscribe_state
                        processor: orocrm_mailchimp.importexport.processor.static_segment_member_unsubscribe_state
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                handle_delete_state:
                    title: export
                    class: Oro\Bundle\BatchBundle\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.static_segment_member_unsubscribe_delete_state
                        processor: orocrm_mailchimp.importexport.processor.static_segment_member_unsubscribe_delete_state
                        writer:    oro_integration.writer.persistent_batch_writer
                    parameters:
                        batch_size: 25
                export:
                    title: export
                    class: OroCRM\Bundle\MailChimpBundle\ImportExport\Step\ItemStep
                    services:
                        reader:    orocrm_mailchimp.importexport.reader.static_segment_export
                        processor: orocrm_mailchimp.importexport.processor.export_static_segment
                        writer:    orocrm_mailchimp.importexport.writer.static_segment
                    parameters:
                        batch_size: 2000
