{% import 'OroUIBundle::macros.html.twig' as ui %}

<div class="widget-content" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <div class="control-group">
                <label class="control-label">
                    <strong>{{ 'orocrm.mailchimp.syncstatus.title.label'|trans }}</strong>
                </label>
            </div>
            {{ ui.renderProperty('orocrm.mailchimp.syncstatus.synced_to.label'|trans,
                static_segment.subscribersList.name ~ " (" ~ static_segment.name ~ ")"
            ) }}
            {{ ui.renderProperty('orocrm.mailchimp.syncstatus.sync_status.label'|trans, static_segment.lastSynced) }}
        </div>
    </div>
</div>
