{% extends 'OroFormBundle:Form:fields.html.twig' %}

{% block orocrm_mailchimp_api_key_type_widget %}
    {% set options = {
        'pingUrl': path('orocrm_mailchimp_ping')
    } %}
    <div data-page-component-module="orocrmmailchimp/js/app/components/api-key-component"
         data-page-component-options="{{ options|json_encode }}">
        {{ form_widget(form) }}

        <div style="margin-top: 10px;display: none;" class="ping-holder">
            <button type="button" class="btn btn-primary">{{ 'orocrm.mailchimp.integration_transport.api_key.check.label'|trans }}</button>
            <div class="connection-status alert" style="display: none"></div>
        </div>
    </div>
{% endblock %}

{% block form_row %}
    {% set attr = attr|merge({'class': ('control-group-wide ' ~ attr.class|default(''))|trim}) %}

    {{ parent() }}
{% endblock %}
